doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/fbscrape/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title fbscraper
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="bootstrap.simplex.min.css")
    link(rel="stylesheet",type="text/css",href="ajax.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="gradient.css")
    script(type="text/javascript",src="angular-animate.min.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="core",ng-controller="main",ng-class="{'active':running,'done':finish}")
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#")
            img(src="logo.png")
            | FB Scraper
        .collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li.anim.profile: a(href="#")
              .avatar
              .name anonymous
            li.logon(ng-show="!accessToken"): a(href="#",ng-click="login()") Login
            li.logon.ng-hide(ng-show="accessToken"): a(href="#",ng-click="logout()") Logout
    #banner
      .ib
        | Backup Your Wall.
        br
        | Now.
        br
        .btn.btn-success.btn-lg.anim(ng-click="login()",ng-class="{'invis':accessToken}") Login Facebook to Backup
        .next
          .btn.btn-success.btn-lg.anim.invis(ng-click="login()",ng-class="{'invis':!accessToken}") Backup Your Wall
          loading.anim.invis(ng-class="{'invis':!loading}")
    #subbanner
      | You want to keep all your footprint.
      br
      | And we can help.
    #features
      .row
        .col-md-4
          .picto.delay(delay-bk="offline-browsing.png")
          .title Offline Browsing
          .desc Keep and look up useful information of your favorite fan pages at any time.
        .col-md-4.main
          .picto.delay(delay-bk="one-click.png")
          .title With One Click
          .desc You don't bother to study cumbersome document, install software, or fill in forms. Just one click, and all your data are kept.
        .col-md-4
          .picto.delay(delay-bk="online-backup.png")
          .title Online Backup
          .desc Backup your data in our online storage, and export to almost all popular online content management services.
    #panel
      .btn.btn-success.btn-lg(ng-click="startGetWall(true)") Backup My Wall Now
      .btn.btn-danger.btn-lg(ng-click="setFanpage(true)") Backup Fan Pages
      .fanpage-url.form-group.anim.invis(ng-class="{'invis':!isFanpage}")
        label Desired Fan Page URL
        .input-group
          input.form-control(type="input",ng-model="fanpage",placeholder="URL, for example: https://www.facebook.com/NtuNewsEForum?fref=ts")
          span.input-group-btn
            button.btn.btn-default(type="button",ng-click="startGetWall()") Download
    #content
    div.animation(ng-repeat="b in blah") {{b}}
    div(ng-show="finish") 抓完了
    .post(ng-repeat="post in wall")
      .content {{post.message}}
      .date {{post.created_time}}
    div(ng-show="finish") 抓完了
    .credit
      .item 
        | "Click", Ahmed Trochilidae, BY-CC 3.0
        | http://thenounproject.com/term/click/39120/
      .item 
        | "Book", Olivier Guin, BY-CC 3.0
        | http://thenounproject.com/term/book/5526/
      .item 
        | "Cloud Download", irene hoffman, BY-CC 3.0
        | http://thenounproject.com/term/cloud-download/18257/
    #footer
      a(href="#") Term of Use
      |  | 
      a(href="#") Privacy Policy
      |  | 
      a(href="#") About Us
    script(src="http://connect.facebook.net/zh_TW/all.js")
    #fb-root
