doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/fbscraper/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title Facebook Scraper
    // libraries
    include library.jade
    // custom files
    link(rel="icon",type="image/png",href="/scraper.png")
    link(rel="stylesheet",type="text/css",href="bootstrap.simplex.min.css")
    link(rel="stylesheet",type="text/css",href="loading.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="gradient.css")
    script(type="text/javascript",src="angular-animate.min.js")
    script(type="text/javascript",src="scrollto.min.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="core",ng-controller="main",ng-class="{'active':running,'done':finish}")
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#")
            img(src="logo.png")
            | Facebook Scraper
        .collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li.anim.profile.invis(ng-class="{'invis':!username}"): a(href="#")
              .avatar
                img(ng-src="http://graph.facebook.com/{{uid}}/picture?type=small",ng-show="uid")
              .name {{username}}
            li.logon(ng-show="!accessToken"): a(href="#",ng-click="login()") Login
            li.logon.ng-hide(ng-show="accessToken"): a(href="#",ng-click="logout()") Logout
    #banner
      .ib
        | Scrape Facebook Wall.
        br
        | Now.
        br
        .backup.invis(ng-class="{'invis':!accessToken}")
          .btn.btn-success.btn-lg(ng-click="startGetWall(true,true)",ng-class="{'disabled':running}") Scrape Yours
        .login(ng-class="{'invis':accessToken}")
          .btn.btn-success.btn-lg(ng-click="login()") Login Facebook to Scrape
    #subbanner
      | You want the information on facebook
      br
      | And we can help.
    #features
      .row
        .col-md-4
          .picto.delay(delay-bk="offline-browsing.png")
          .title Offline Browsing
          .desc Keep and look up all useful information of your favorite fan pages at any time, offline.
        .col-md-4.main
          .picto.delay(delay-bk="one-click.png")
          .title With One Click
          .desc You don't bother to study tedious document, install software, or fill in boring forms. Just one click, and all your data are kept.
        .col-md-4
          .picto.delay(delay-bk="online-backup.png")
          .coming-soon(delay-bk="coming-soon.png")
          .title Online Scraping
          .desc Backup your data in our online storage, and export to almost all popular online content management services.
    #panel
      .fb-like(data-href="http://fb.scrape4.me",data-layout="button_count",data-action="like",data-show-faces="false",data-share="true")
      .login(ng-class="{'invis':accessToken}")
        .btn.btn-success.btn-lg(ng-click="login()") Login Facebook to Scrape
      .backup.invis(ng-class="{'invis':!accessToken}")
        #backup-btn.btn.btn-success.btn-lg(ng-click="startGetWall(true)",ng-class="{'disabled':running}") Scrape My Feed Now
        .btn.btn-danger.btn-lg(ng-click="setFanpage(true)",ng-class="{'disabled':running}") Scrape Fan Pages
      #fanpage-url.form-group.anim.invis(ng-class="{'invis':!isFanpage}")
        .ib
          label Desired Fan Page URL
          .input-group
            input.form-control(type="input",ng-model="fanpage",placeholder="URL, for example: https://www.facebook.com/NtuNewsEForum?fref=ts")
            span.input-group-btn
              button.btn.btn-default(type="button",ng-click="startGetWall()") Download
    loading#loading-mark.anim.invis(ng-class="{'invis':!running || finish}")
    #download.anim(ng-class="{'invis':!running && !finish,'running':running}",ng-cloak)
      .row
        .col-sm-6(style="text-align:right")
          i.glyphicon.glyphicon-time(ng-hide="finish || !running")
          i.glyphicon.glyphicon-ok-sign(ng-hide="!finish")
        .col-sm-6.wait(style="text-align:left;margin-top: 1em",ng-show="running")
          | Wait ...
        .col-sm-6(style="text-align:left;margin-top: 1em",ng-show="finish")
          | Download As
          br
          a#download-json(download="wall.json",href="#") JSON
          |  |  
          a#download-html(download="wall.html",href="#") HTML
    #posts
      .empty-post(ng-show="!running && !finish")
        | ( no post fetched yet.. press scrape now! )
      .post(ng-repeat="post in wall")
        .content {{post.message}}
        .story(ng-show="post.story") 
          i.glyphicon.glyphicon-bell
          | {{post.story}}
        .pic(ng-show="post.picture"): img(ng-src="{{enlarge(post.picture)}}")
        .date 
          .thumb(ng-show="post.likes.data.length")
            i.glyphicon.glyphicon-thumbs-up
            |  x {{post.likes.data.length}}
            |  /  
          | {{post.created_time}}
        .comments(ng-show="post.comments.data.length")
          .comment(ng-repeat="comment in post.comments.data")
            .name 
              | {{comment.from.name}}
              .thumb(ng-show="comment.like_count")
                | / 
                i.glyphicon.glyphicon-thumbs-up
                |  x {{comment.like_count}}
            .content {{comment.message}}

    #footer-top
    #footer
      a#eula Term of Use
      |  | 
      a#privacy Privacy Policy
      |  | 
      a#attribution Attribution
      |  | 
      a#about About Us
    script(src="http://connect.facebook.net/zh_TW/all.js")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=1490131354539691";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49607447-1', 'scrape4.me');
      ga('send', 'pageview');
