.ajax.circle
  .circle1.circle: .inner-circle
  .circle2.circle: .inner-circle
  .circle3.circle: .inner-circle
  .circle4.circle: .inner-circle
  .circle5.circle: .inner-circle
  .circle6.circle: .inner-circle
  .circle7.circle: .inner-circle
  .circle8.circle: .inner-circle
